.header {
    background-color: cadetblue;
    display: flex;
    margin: 0;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
}

.pageTitle {
    width: 100%;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 15px;
    text-align: center;
}
@media screen and (max-width: 768px) {

    .header {
        display: flex;
        flex: 0 0 60%;
        padding: 12px;
    }
    .pageTitle {
        display:inline;
        font-size: 1rem;
    }

    .title {
        font-size: 1rem;
        padding-bottom: 8px;
    }
    
  }
