.header {
    background-color: var(--primary-color);
    display: flex;
    margin: 0;
    width: 100%;
    box-shadow: var(--box-shadow);
}

.pageTitle {
    width: 100%;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: var(--padding2);
    text-align: center;
}

@media screen and (max-width: 768px) {

    .header {
        display: flex;
        flex: 0 0 60%;
        padding: var(--padding4);
    }

    .pageTitle {
        display: inline;
        font-size: 1rem;
    }

    .title {
        font-size: 1rem;
        padding-bottom: 8px;
    }

}