.container {
  display: flex;
  height: 100vh;
}

@media screen and (max-width:768px) {
  .container {
    color: var(--menu-hover);
    display: flow;
    background-image: url(../../assets/nature.jpg);
    height: 100vh;
  }
}