.animals {
    flex: 0 0 40%;
    border: 2px solid brown;
    padding: 16px;
}

.main {
    background-color: #7f5e20; 
    /* background-color: #FFE1A8; */
    text-align: center;
    /* border: 2px solid paleturquoise; */
    padding: 16px;
    height: 100vh;
}

.image {
    width: 40%;
    height: auto;
    border-radius: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
}

.groupName {
    text-transform: uppercase;
    font-size: 1.7rem;
}

.description {
    padding: 16px;
    font-size: 1rem;
    word-spacing: 4px;
}

/* .container {
    padding: 20px;
}  */

@media screen and (max-width:768px) {
    .main {
        height: 100vh;
    }

    .description {
        font-size: 1.2rem;
        padding: 10px;
        width: auto;
        height: 40%;
        overflow: scroll;

    }
}

/* @media screen and (max-width:599px) {
    .description {
        font-size: 1rem;
        padding: 5px;

    }
} */


