@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

* {
  box-sizing: border-box;
}

#root {
  text-align: center;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Merienda", cursive;
  font-optical-sizing:auto;
  font-weight:bold;
  font-style: normal;
}

html {
  height: 100vh;
}


